<!DOCTYPE html>
<html>
	<head>
		<title>Guide Page</title>

		<!-- Just for nav bar, some may be useless ??? -->
		<link rel="stylesheet" href="/style/bootstrap.min.css">
		<link rel="stylesheet" href="/style/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/home.js"></script>

		<!-- For guide page -->
		<link rel="stylesheet" href="/style/guide_page.css">
		<script src="/js/guidepage.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<div class="navbar-brand">旅橙网</div>
			</div>
			<div id="login-control">
				<button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#signup-modal">注册</button>
				<button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#login-modal">登陆</button>
			</div>
			<ul id="user-control" class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<span id="user-display"></span>
						<span class="caret"></span>
					</a>
				</li>
			</ul>
		</nav>

		<div id="page">
			<div id="content">
				<div id="guide-listing">
					
					<div id="avatar-panel" class="left-column">
						<div id="guide-image-box">
							<div id="guide-avatar">

								<img class="avatar" src="https://demo.wanzi.cc:6080/uploads/service/640_5475878251bfb.jpg">
								<!-- <img class="avatar" src="/<%= guide.photo_portrait %>"> -->
								<!-- <img class="avatar" src="/uploads/service/640_5475878251bfb.jpg"> -->
		
							</div>
						</div>
						<div class="guide-name">
							<h1><%= guide.name %></h1>
						</div>
					</div>
					
					<div id="reservation-panel" class="right-column">
						<div class="rates">
                    		<p>价格</p>
                    		<p>
								<p>每天徒步（单独导游，公共交通出行）</p>
								<p>费用=定金 50 加拿大元 + 现付 100加拿大元</p>
								<p>每天包车</p>
								<p>费用=定金 50 加拿大元 + 现付 230加拿大元</p>
								<p>接送机费用请见向导附加费</p>
							</p>
						</div>
						<hr>
						<div id="reservation-tool">
							<a class="reserve-button button green">
								提交请求
							</a>
						</div>
						<hr>
						<div id="in-mail">
							<a class="reserve-button button">
								站内信
							</a>
						</div>
					</div>
					
					<hr>
					<div id="info-panel" class="left-column">
						<h2>向导信息</h2>
						<ul id="info-box">
							<li class="info-list">
								城市：<%= guide.city %>
							</li>
							<li class="info-list">
								职业：<%= guide.occupation %>
							</li>
							<li class="info-list">
								性别：<%= guide.sex %>
							</li>
							<li class="info-list">
								年龄：<%= guide.age %>
							</li>
						</ul>
					</div>
					
					<hr>
					<div id="self-intro-panel" class="left-column">
						<h2>自我介绍</h2>
						<div id="self-intro-box">
							<p><%= guide.intro1 %></p>
						</div>
					</div>
					
					<hr>
					<div id="review-panel" class="left-column">
						<h2>评价</h2>
						<div id="review-box">
							<!-- ejs template for reviews goes here in future -->
							<% for (var i = 0; i < 5; i++) { %>
								<div class="review-icon">
									<!-- <img src="anonymous.png"> -->
									<img src="https://cdn2.iconfinder.com/data/icons/danger-problems/512/anonymous-128.png" style="width:50px;height:50px">
								</div>
								<div class="review-text">
									第一次来纽约旅行，能够认识小晗向导非常荣幸，她热情周到的服务给原本寒冷的冬日之旅增添了异国他乡的温暖，让我们非常感动！感谢小晗，感谢SmartTraveller，我们以后再合作！
								</div>
								<hr>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
