<!DOCTYPE html>
<html>
	<head>
		<title>Guide Page</title>

		<!-- Just for nav bar, some may be useless ??? -->
		<link rel="stylesheet" href="/style/bootstrap.min.css">
		<link rel="stylesheet" href="/style/index.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/home.js"></script>

		<!-- For guide page -->
		<link rel="stylesheet" href="/style/guide_page.css">
		<script src="/js/guidepage.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<div class="navbar-brand">旅橙网</div>
			</div>
			<div id="login-control">
				<button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#signup-modal">注册</button>
				<button class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#login-modal">登陆</button>
			</div>
			<ul id="user-control" class="nav navbar-nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
						<span id="user-display"></span>
						<span class="caret"></span>
					</a>
				</li>
			</ul>
		</nav>

		<div id="page">
			<div id="content">
				<div id="guide-listing">
					
					<div id="avatar-panel" class="left-column">
						<div id="guide-image-box">
							<div id="guide-avatar">
								<img class="avatar" src="/<%= guide.photo_portrait %>">
							</div>
						</div>
						<div class="guide-name">
							<h1><%= guide.name %></h1>
						</div>
						<div class="guide-tag">
							<h1 class="guide-tag-text">
								兴趣：
								<% for (var i = 0; i < guide.tags.length; i++) { %>
									<%= guide.tags[i] %>
									<% if (i != guide.tags.length - 1) { %>
										/
									<% } %>
								<% } %>
							</h1>
						</div>
					</div>
					
					<div id="reservation-panel" class="right-column">
						<div class="rates">
                    		<p>价格</p>
                    		<p>
								<p>每天徒步（单独导游，公共交通出行）</p>
								<p>费用=定金 50 美元 + 现付 100美元</p>
								<p>每天包车</p>
								<p>费用=定金 50 美元 + 现付 230美元</p>
								<p>接送机费用请见向导附加费</p>
							</p>
						</div>
						<hr>
						<div id="reservation-tool">
							<a class="reserve-button button green">
								提交请求
							</a>
						</div>
						<hr>
						<div id="in-mail">
							<a class="reserve-button button">
								站内信
							</a>
						</div>
					</div>

					<div id="guide-photo-life-panel" class="right-column">
						<img class="avatar" src="/<%= guide.photo_life[0] %>">

						<!-- How to pass guide.photo_life.length to js function ??? -->




					</div>
					
					<div id="info-panel" class="left-column">
					<hr>
						<h2>向导信息</h2>
						<div class="section group">
							<div class="col span_1_of_3">
								城市：<%= guide.city %>
							</div>
							<div class="col span_1_of_3">
								职业：<%= guide.occupation %>
							</div>
							<div class="col span_1_of_3">
								性别：<%= guide.sex %>
							</div>
						</div>
						<div class="section group">
							<div class="col span_1_of_3">
								年龄：<%= guide.age %>
							</div>
							<div class="col span_1_of_3">
								家乡：<%= guide.hometown %>
							</div>
							<div class="col span_1_of_3">
								职业：<%= guide.occupation %>
							</div>
						</div>
						<br>

						<% if (guide.car) { %>
							<p class="guide-car-title">私人用车：提供 </p>
						<div class="section group">
							<div class="col span_1_of_3">
								品牌：<%= guide.car_brand %>
							</div>
							<div class="col span_1_of_3">
								年份：<%= guide.car_year %>
							</div>
							<div class="col span_1_of_3">
								型号：<%= guide.car_model %>
							</div>
						</div>
						<% } else { %>
							<p class="guide-car-title">私人用车：不提供 </p>
						<% } %>

					</div>
					
					<hr>
					<div id="self-intro-panel" class="left-column">
						<h2>自我介绍</h2>
						<div id="self-intro-box">
							<p><%= guide.intro1 %></p>
						</div>
					</div>
					
					<hr>
					<div id="path-intro-panel" class="left-column">
						<h2>个人路线介绍</h2>
						<div id="path-intro-box">
							<!-- <img src="/<%= guide.photo_view[0] %>">  -->
							<p><%= guide.intro2 %></p>
						</div>
					</div>

					<hr>
					<div id="review-panel" class="left-column">
						<h2>评价</h2>
						<div id="review-box">
							<% for (var i = 0; i < reviewList.length; i++) { %>
								<div class="review-icon">
									<img src="/<%= guide.photo_portrait %>" style="width:60px;height:60px;border-radius: 30px">
								</div>
								<div class="review-text">
									<%= reviewList[i].review_text %>
								</div>
								<div class="review-date">
									<%= reviewList[i].date %>
								</div>
								<hr>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
