<!-- Created by Hongda Jiang -->
<!-- 	4-19-2015 	test	-->
<!DOCTYPE html>
<html>
    <head>
        <title>Search Result</title>
        <link rel='stylesheet' href='/style/guide_list.css'>
        <link rel="stylesheet" href="style/bootstrap.min.css">
		<link rel="stylesheet" href="/style/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="/style/common.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-datepicker.min.js"></script>
		<script src="/js/navbar.js"></script>
        </head>
        <body>
            <% include parts/nav %>
            <div id='content'>
                <div id='filter_bar'>
                    <form id='filter_form' method="post" action="/guidelist/filter">
                        <div class='option_wrapper_vertical'>
                            <p class='option'>
                            <img src='../img/icons/walk.png'>
                            Walking Guide
                            <input type='checkbox' class='filter_checkbox' name='walk' value="0">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/drive.png'>
                            Driving Guide
                            <input type='checkbox' class='filter_checkbox' name='drive' value="0">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/airport_pickup.png'>
                            Airport Pickup
                            <input type='checkbox' class='filter_checkbox' name='pickup' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_vertical'>
                            <p class='option'>
                            <img src='../img/icons/student.png'>
                            Student
                            <input type='checkbox' class='filter_checkbox' name='student' value="0">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/professional.png'>
                            Young Professional
                            <input type='checkbox' class='filter_checkbox' name='employee' value="0">
                            </p>
                            <p class='option'>
                            <img src='../img/icons/people.png'>
                            Foreigner
                            <input type='checkbox' class='filter_checkbox' name='forenginer' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            Cantonese
                            <input type='checkbox' class='filter_checkbox' name='cantonese' value="0">
                            </p>
                            <p class='option'>
                            Min Nan Yu
                            <input type='checkbox' class='filter_checkbox' name='min_nan_yu' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            Gentlemen
                            <input type='checkbox' class='filter_checkbox' name='male' value="0">
                            </p>
                            <p class='option'>
                            Lady
                            <input type='checkbox' class='filter_checkbox' name='female' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            70s'
                            <input type='checkbox' class='filter_checkbox' name='70s' value="0">
                            </p>
                            <p class='option'>
                            80s'
                            <input type='checkbox' class='filter_checkbox' name='80s' value="0">
                            </p>
                            <p class='option'>
                            90s'
                            <input type='checkbox' class='filter_checkbox' name='90s' value="0">
                            </p>
                        </div>
                    </form>
                  
                    <button type="button" id='filter_update' class="btn btn-primary">
                    	Update
                    </button>
                
                </div>
                <div id = "guidelist">
                    <% for(var i=0; i<guideList.length; i++) {%>
                    <a href='/guidepage/<%= guideList[i].id %>'>
                    <div class='divide_line'>
                    </div>
                    <div class='guide_card'>
                        <div class='guide_portrait'>
                            <img src='/<%= guideList[i].photo_portrait %>' >
                        </div>
                        <div class='guide_info'>
                            <div class='info_section1'>
                                <span class='name'><%= guideList[i].name %></span>
                                <span class='city'><%= guideList[i].city %></span>
                            </div>
                            <div class='info_section2'>
                            	<% for(var j=0; j<guideList[i].tags.length; j++) { %>
                                	<span class='tag'><%= guideList[i].tags[j] %></span>

                                <% } %>
                            </div>
                            <div class='info_section3'>
                                <%if(guideList[i].car) {%>
                                	<span class='icon'>
                                		<img src='../img/icons/drive.png'>
                                	</span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    </a>
                    <% } %>
                    <div class='divide_line'>
                </div>
            </div>
        </body>
    </html>