<!-- Created by Hongda Jiang -->
<!-- 	4-19-2015 	test	-->
<!DOCTYPE html>
<html>
    <head>
        <title>搜索结果</title>
        <link rel='stylesheet' href='/style/guide_list.css'>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        </head>
        <body>
            <div id='content'>
                <div id='filter_bar'>
                    <form id='filter_form' method="post" action="/guidelist/filter">
                        <div class='option_wrapper_vertical'>
                            <p class='option'>
                            <img src='../img/icons/walk.png'>
                            徒步向导
                            <input type='checkbox' class='filter_checkbox' name='walk' value="0">
                            </p>
                            <p>
                            <img src='../img/icons/drive.png'>
                            带车向导
                            <input type='checkbox' class='filter_checkbox' name='drive' value="0">
                            </p>
                            <p>
                            <img src='../img/icons/airport_pickup.png'>
                            接机服务
                            <input type='checkbox' class='filter_checkbox' name='pickup' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_vertical'>
                            <p class='option'>
                            <img src='../img/icons/student.png'>
                            在读学生
                            <input type='checkbox' class='filter_checkbox' name='student' value="0">
                            </p>
                            <p>
                            <img src='../img/icons/professional.png'>
                            在职白领
                            <input type='checkbox' class='filter_checkbox' name='employee' value="0">
                            </p>
                            <p>
                            <img src='../img/icons/people.png'>
                            歪果仁
                            <input type='checkbox' class='filter_checkbox' name='forenginer' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            粤语
                            <input type='checkbox' class='filter_checkbox' name='cantonese' value="0">
                            </p>
                            <p>
                            闽南语
                            <input type='checkbox' class='filter_checkbox' name='min_nan_yu' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            男
                            <input type='checkbox' class='filter_checkbox' name='male' value="0">
                            </p>
                            <p>
                            女
                            <input type='checkbox' class='filter_checkbox' name='female' value="0">
                            </p>
                        </div>
                        <div class='option_wrapper_horizontal'>
                            <p class='option'>
                            70后
                            <input type='checkbox' class='filter_checkbox' name='70s' value="0">
                            </p>
                            <p>
                            80后
                            <input type='checkbox' class='filter_checkbox' name='80s' value="0">
                            </p>
                            <p>
                            90后
                            <input type='checkbox' class='filter_checkbox' name='90s' value="0">
                            </p>
                        </div>
                    </form>
                  
                    <button type="button" id='filter_update' class="btn">
                    	更新结果
                    </button>
                
                </div>
                <div id = "guidelist">
                    <% for(var i=0; i<guideList.length; i++) {%>
                    <a href='/guidepage/<%= guideList[i].id %>'>
                    <div class='guide_card'>
                        <div class='guide_portrait'>
                            <img src='/<%= guideList[i].photo_portrait %>' >
                        </div>
                        <div class='guide_info'>
                            <div class='info_section1'>
                                <span><%= guideList[i].name %></span>
                                <span><%= guideList[i].city %></span>
                            </div>
                            <div class='info_section2'>
                            	<% for(var j=0; j<guideList[i].tags.length; j++) {%>
                                <span class='tag'><%= guideList[i].tags[j] %></span>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    </a>
                    <% } %>
                </div>
            </div>
        </body>
    </html>