<!DOCTYPE html>
<html>    

<body>
    <div id="setting-area">
        <h1>Settings</h1>
        <hr>
        <div class="setting-left-column">
			<% if (guide) { %>
            <form id="picture-form" enctype="multipart/form-data">
                <div id="guide-image-box" class="image-section">
                    <div id="guide-avatar">
                        <img class="photo" src="/<%= guide.photo_portrait %>">
                    </div>

                    <div class="fileUpload btn btn-primary">
                        <span>Upload</span>
                        <input type="file" class="upload" name="photo_portrait" required accept=".gif,.jpg,.png"/>
                    </div>
                    <div id="picture-btn-submit" class="fileUpload btn btn-primary">
                        <span>Submit</span>
                    </div>
                </div>
                
            </form>
			<% } %>
        </div>
        <div class="setting-right-column">
			<% if (guide) { %>
                <div id="right-column-info-area">
                    <div class="info-panel">
                        <div class="info-title">
                            <h2 class="info-title-text">Guide Info</h2>
                            <a id="guide-info-edit" class="btn btn-default edit-btn"></a>
                        </div>
                        <div class="info-section">
                            <div class="info-section-part1">
                                <div class="info-item">
                                    <div class="item-title"><b>Name：</b></div>
                                    <div class="info-text"><%= guide.name %></div>
                                </div>
                                <div class="info-item">
                                    <div class="item-title"><b>City：</b></div>
                                    <div class="info-text"><%= guide.city %></div>
                                </div>
                                <div class="info-item">
                                    <div class="item-title"><b>Occupation：</b></div>
                                    <div class="info-text"><%= guide.occupation %></div>
                                </div>
                                <div class="info-item">
                                    <div class="item-title"><b>Sex：</b></div>
                                    <div class="info-text"><%= guide.sex %></div>
                                </div>
                            </div>
                            <div class="info-section-part2">
                                <div class="info-item">
                                    <div class="item-title"><b>Age：</b></div>
                                    <div class="info-text"><%= guide.age %></div>
                                </div>
                                <div class="info-item">
                                    <div class="item-title"><b>Hometown：</b></div>
                                    <div class="info-text"><%= guide.hometown %></div>
                                </div>
                                <div class="info-item">
                                    <div class="item-title"><b>Phone：</b></div>
                                    <div class="info-text"><%= guide.phone %></div>
                                </div>
                                <div class="info-item">
                                    <div class="item-title"><b>Language：</b></div>
                                    <div class="info-text" style="width: 100px">
                                        <% for (var i = 0; i < guide.language.length; i++) { %>
                                            <%= guide.language[i] %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="info-section-part3">
                                <br>
                                <div class="info-car">
                                    <% if (guide.car) { %>
                                    <div class="info-item">
                                        <div class="item-title"><b>Personal Car:</b></div> 
                                        <div class="info-text">Provide</div>
                                    </div>
                                    <div class="section group">
                                        <div class="info-item">
                                            <div class="item-title"><b>Brand：</b></div>
                                            <div class="info-text"><%= guide.car_brand %></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="item-title"><b>Year：</b></div>
                                            <div class="info-text"><%= guide.car_year %></div>
                                        </div>
                                        <div class="info-item">
                                            <div class="item-title"><b>Model：</b></div>
                                            <div class="info-text"><%= guide.car_model %></div>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <div class="item-title"><b>Personal Car:</b></div> 
                                        <div class="info-text">Not Provide</div>
                                    <% } %>
                                </div>
                        
                                <br><br>
                                <div class="info-item">
                                    <div class="item-title"><b>Tags：</b></div>
                                    <div class="info-text">
                                        <% for (var i = 0; i < guide.tags.length; i++) { %>
                                            <%= guide.tags[i] %>
                                            <% if (i != guide.tags.length - 1) { %>
                                            /
                                            <% } %>
                                        <% } %>
                                    </div>
                                </div>
                                <br>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="info-panel">
                        <div class="info-title">
                            <h2 class="info-title-text">Self Intro</h2>
                        </div>
                        <div class="info-section">
                            <p><%= guide.intro1 %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="info-panel">
                        <div class="info-title">
                            <h2 class="info-title-text">Path Intro</h2>
                        </div>
                        <div class="info-section">
                            <p><%= guide.intro2 %></p>
                        </div>
                    </div>
                </div>
			<% } %>
        </div>   
    </div>

    <div id="setting-edit-form">
		<% if (guide) { %>
        <form id="edit-info-form" method="post" action="/dashboard/settings/updateinfo" enctype="multipart/form-data" data-parsley-required-message="此项为必填项">
            <div>
                <div class="form-record">
                    <div class="form-label">Name</div>
                    <div class="input-container">
                        <input id="name-input" required name="name" type="text">
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Sex</div>
                    <div class="input-container">
                        <div>
                            <input name="sex" value="男" type="radio" required>&nbsp;Male &nbsp;&nbsp;
                            <input name="sex" value="女" type="radio">&nbsp;Female
                        </div>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Age</div>
                    <div class="input-container">
                        <input required name="age" type="text">
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">City</div>
                    <div class="input-container">
                        <select name="city" required>
                            <option></option>
                            <option value="波士顿">Boston</option>
                            <option value="费城">Philadelphia</option>
                            <option value="华盛顿">Washington</option>
                            <option value="旧金山">San Francisco</option>
                            <option value="洛杉矶">Los Angeles</option>
                            <option value="迈阿密">Miami</option>
                            <option value="纽约">New York</option>
                            <option value="匹兹堡">Pittsburg</option>
                            <option value="西雅图">Seattle</option>
                            <option value="休斯顿">Huston</option>
                            <option value="芝加哥">Chicago</option>
                            <option value="其它">Others</option>
                        </select>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Hometown</div>
                    <div class="input-container">
                        <select name="hometown" required>
                            <option></option>
                            <option value="北京">北京市</option>
                            <option value="浙江省">浙江省</option>
                            <option value="天津市">天津市</option>
                            <option value="安徽省">安徽省</option>
                            <option value="上海市">上海市</option>
                            <option value="福建省">福建省</option>
                            <option value="重庆市">重庆市</option>
                            <option value="江西省">江西省</option>
                            <option value="山东省">山东省</option>
                            <option value="河南省">河南省</option>
                            <option value="湖北省">湖北省</option>
                            <option value="湖南省">湖南省</option>
                            <option value="广东省">广东省</option>
                            <option value="海南省">海南省</option>
                            <option value="山西省">山西省</option>
                            <option value="青海省">青海省</option>
                            <option value="江苏省">江苏省</option>
                            <option value="辽宁省">辽宁省</option>
                            <option value="吉林省">吉林省</option>
                            <option value="台湾省">台湾省</option>
                            <option value="河北省">河北省</option>
                            <option value="贵州省">贵州省</option>
                            <option value="四川省">四川省</option>
                            <option value="云南省">云南省</option>
                            <option value="陕西省">陕西省</option>
                            <option value="甘肃省">甘肃省</option>
                            <option value="黑龙江省">黑龙江省</option>
                            <option value="香港特别行政区">香港特别行政区</option>
                            <option value="澳门特别行政区">澳门特别行政区</option>
                            <option value="广西壮族自治区">广西壮族自治区</option>
                            <option value="宁夏回族自治区">宁夏回族自治区</option>
                            <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                            <option value="内蒙古自治区">内蒙古自治区</option>
                            <option value="西藏自治区">西藏自治区</option>
                        </select>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Occupation</div>
                    <div class="input-container">
                        <div>
                            <input name="occupation" value="学生" type="radio" required>
                            &nbsp;Student&nbsp;&nbsp;
                            <input name="occupation" value="在职" type="radio" required>
                            &nbsp;Professional&nbsp;&nbsp;
                            <input name="occupation" value="其他" type="radio">&nbsp;<span>Other</span>
                        </div>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Phone</div>
                    <div class="input-container">
                        <input name="phone" type="text" required></input>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Personal Car</div>
                    <div class="input-container">
                        <div>
                            <input name="car" value="true" type="radio" required>&nbsp;Yes&nbsp;&nbsp; 
                            <input name="car" value="false" type="radio">&nbsp;No
                        </div>
                    </div>
                </div>
                <div class="form-record showup-text-car hidden">
                    <div class="form-label">Car Brand</div>
                    <div class="input-container">
                        <div>
                            <input name="car_brand" type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="form-record showup-text-car hidden">
                    <div class="form-label">Car Model</div>
                    <div class="input-container">
                        <div>
                            <input name="car_model" type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="form-record showup-text-car hidden">
                    <div class="form-label">Car Year</div>
                    <div class="input-container">
                        <div>
                            <input name="car_year" type="text"></input>
                        </div>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Language</div>
                    <div class="input-container">
                        <div>
                            <input type=checkbox name="language" value="english" required>&nbsp;英文&nbsp;&nbsp;
                            <input type=checkbox name="language" value="mandarin">&nbsp;普通话&nbsp;&nbsp;
                            <input type=checkbox name="language" value="cantonese">&nbsp;粤语&nbsp;&nbsp;
                            <input type=checkbox name="language" value="min_nan_yu">&nbsp;闽南语&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div class="form-record">
                    <div class="form-label">Hobby</div>
                    <div class="input-container">
                        <div>
                            <input type=checkbox name="tags" value="摄影" required>&nbsp;Photograph&nbsp;&nbsp;
                            <input type=checkbox name="tags" value="美食">&nbsp;Gourmet&nbsp;&nbsp;
                            <input type=checkbox name="tags" value="历史">&nbsp;History&nbsp;&nbsp;
                            <input type=checkbox name="tags" value="体育">&nbsp;Sports&nbsp;&nbsp;
                            <input type=checkbox name="tags" value="艺术">&nbsp;Art&nbsp;&nbsp;
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <div class="form-record">
                    <div class="v-top">Self Introduction</div>
                    <div>
                        <textarea class="text-input" name="intro1" rows="6" cols="80" required placeholder="Tell us why you come to this city"></textarea>
                    </div>
                </div>
                <div class="form-record">
                    <div class="v-top">City Introduction</div>
                    <div>
                        <textarea class="text-input" name="intro2" rows="6" cols="80" required placeholder="give us your feelings about this city"></textarea>
                    </div>
                </div>
                
                <div class="button-container">
                    <button id="btn-submit" type="button" class="btn btn-default btn-sm btn-submit">Submit</button>
                </div>
            </div>
        </form>
		<% } %>
    </div>
</body>

</html>
